<!DOCTYPE html>
<html>
  <head>
    <title>My Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome!</h1>
    Click <a href="/skills">here</a> to see a list of my Dev Skills!
  </body>
</html>
